h1{
    padding: 9px;
    background-color: blue;
}


h2{
    padding: 5px;
    background-color:red;

}

h3{
    padding: 12px;
    background-color: rgb(197, 118, 136);
}

h4{
    padding: 20px;
    background-color: rgb(26, 255, 0);

}

h5{
    padding: 40px;
    background-color: rgb(242, 255, 0);
}

h6{
    padding: 10px;
    background-color: rgb(179, 0, 255);
}