body{
    height: 100vh;
    font-family:   Arial, sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;

}
#btn1{
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

img{
    
    height: 300px;
    position: absolute;
    top: 100px;
    right: 300px;
}