body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
div {
    font-size: 64px;
    font-family: "Figtree", sans-serif;
    animation: colorChange 2s infinite linear;
}
  
  
@keyframes colorChange {
    0%   { color: red; }
    25%  { color: yellow; }
    50%  { color: rgb(128, 255, 255); }
    75%  { color: rgb(247, 14, 247); }
    100% { color: rgb(255, 85, 0); }
}
  