


.ball{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color:rgb(255, 0, 0) ;
    position: absolute;
    left: 50%;
    animation: jump linear 0.5s alternate infinite;
    border: 3px solid;
    border-color: black;
    transform:  translateX(-50%);
}

@keyframes jump{
    from{top: 0px;}
    to{top: 500px;}
}



.line{
    width: 300px;
    height: 2px;
    background-color: black;
    position:absolute ;
    left: 40%;
    top: 595px;
}