.box{
    width: 60px;
    height: 60px;
    background-color: blue; 
    border-color: black;
    border: 2px;
    padding: 2px 2px 2px 2px;
  
  

}


.box:hover{

    rotate: 90deg;
    cursor: pointer;
}