body{
    background-color: rgb(59, 59, 182);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
}

nav{
    color: white;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    
}
ul{
    
    text-decoration: none;
    display: flex;
    align-items: start;
    justify-content:space-between;
    
    
}

