body{
    background-color: rgb(234, 219, 187);
    justify-content: center;
    display: flex;
}


.box{
width: 600px; 
height: 450px;
background-color: rgb(255, 255, 255);
border-radius: 10px;
}  

img{
    width: 300px;
    height: 450px;
    position: absolute;
    left: 400px;
    top: 9px;
    border-radius: 10px;
}


p{
    position: absolute;
    right: 610px;
    top: 30px;
    font-family: sans-serif;
    color: rgb(81, 79, 79);
    font-size: small;

}

h1{
    position: absolute;
    top: 50px;
    right:490px ;
    font-size: 40px;
}

.paragrap{
    top: 220px;
    right:480px ;  
    font-size: medium;
    font-family: sans-serif;
}


h2{
    position: absolute;
    top: 290px;
    right:590px ;  
    font-size: 40px;
    color: rgb(48, 117, 88);
}

.money{
    position: absolute;
    top: 320px;
    right:530px ;   
  text-decoration: line-through;
    
}


button{
    background-color:rgb(48, 117, 88); 
    width: 270px;
    height: 40px;
    position: absolute;
    top: 390px;
    right:445px ; 
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}