body{
  background-color: rgb(112, 165, 235);
}

.box{

  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 10px; 

}

h2{
  position: absolute;
  top: 200px;
  right: 280px; 
  color: rgb(4, 4, 103);
  font-family:  'Gill Sans MT', Calibri, 'Trebuchet MS'
}

p{
  position: absolute;
  top: 250px;
  left: 250px;
  font-family: sans-serif;
  font-size: 12px;
  color: gray;
}

h5{
  position: absolute;
  left:280px;
  top: 37.5%;
  font-family: sans-serif;
}

.m{
position: absolute;
top: 330px;
left: 280px;
}

.ch{
  position: absolute;
  left:400px;
  top: 39%;
  color: rgb(44, 4, 108);
  text-decoration: underline;
}

img{
width: 300px;
height: 200px;
position: absolute;
top: 9px;
left: 210px;
border-radius: 10px;
}



button{
  border: none;
  color: white;
  background-color: rgb(44, 4, 108); 
  width: 200px;
  height: 40px;
  position: absolute;
  left: 260px;
  top: 370px;
  border-radius: 10px;
}

.ll{
  position: absolute;
  left: 310px;
  top: 410px;
  font-size: 15px;
}