body {
    font-family: sans-serif;
}

div {
    background-color: rgb(255, 0, 0);
    height: 5px;
    width: 90px;


}

#parent {
    position: absolute;
    top: 200px;
    font-size: large;
    left: 250px;

}

img {
    height: 400px;
    width: 500px;
    position: absolute;
    right: 250px;
    top: 50px;
}

p{
    color: blue;
    position: absolute;
    bottom: 350px;
    left: 250px;
}