body {
    background-color: rgb(28, 31, 50);
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: none;

}

.dv1 {
    display: flex;
    justify-content: space-between;
    gap: 25px;

}

#btn1 {
    height: 40px;
    width: 100px;
    font-size: medium;
    background-color: rgb(0, 174, 255);
    border: none;
    border-radius: 5px;
    color: white;
}

h3 {
    display: flex;
    justify-content: space-around;
    color: rgb(0, 174, 255);
}

.hi {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}

h4 {
    display: flex;
    justify-content: space-around;
    
}

#btn2 {

    height: 40px;
    width: 150px;
    background-color: rgb(0, 174, 255);
    border: none;
    border-radius: 5px;
    color: white;
    
}

#btn3 {
    height: 40px;
    width: 150px;
    border-style: solid;
    border-color: rgb(0, 174, 255);
    border-radius: 5px;
    background-color: rgb(28, 31, 50);
    color: white;
}

.dv2{
    display: flex;
    justify-content: center;
    gap: 5px;
}

