body{
    display: flex;
    justify-content: center;
    background-color:rgb(204, 217, 235) ;
}




.box{
    width: 340px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    align-self: center;
}

img{
    height: 240px;
    width: 265px;
    align-self: center;
    position: absolute;
    top: 25px;
    border-radius: 10px;
}


h5{
    align-self: center;
    position: absolute;
    top: 280px;
    font-family: sans-serif;
}

h6{
    align-self: center;
    position: absolute;
    font-family: sans-serif;
    top: 300px; 
    color: gray;
}
